<%
var subtitle = page.subtitle || page.title
var banner_img = page.banner_img || theme.index.banner_img
var banner_img_height = page.banner_img_height || theme.index.banner_img_height
var banner_mask_alpha = page.banner_mask_alpha || theme.index.banner_mask_alpha
var colorSchema = theme.dark_mode && theme.dark_mode.enable && theme.dark_mode.default ? theme.dark_mode.default : ''
%>

<!DOCTYPE html>
<html lang="<%= config.language %>" <%= colorSchema ? `data-default-color-scheme="${colorSchema}"` : '' %>>

<%- partial('_partial/head') %>
<link href="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery-pjax@2.0.1/jquery.pjax.min.js"></script> -->
 <!-- <script type="text/javascript" src="/dist/music.js"></script> -->
<style>
  .demo {
    width: 360px;
    margin: 0px auto 20px auto
  }

  .demo p {
    padding: 10px 0
  }

</style>

<body>
  <header style="height: <%- banner_img_height %>vh;">
    <%- partial('_partial/nav') %>
    <div class="banner" id="banner" <%- theme.banner && theme.banner.parallax && 'parallax=true' %> style="background: url('<%- url_for(banner_img) %>') no-repeat center center;
           background-size: cover;">
      <div class="full-bg-img">
        <div class="mask flex-center" style="background-color: rgba(0, 0, 0, <%= parseFloat(banner_mask_alpha) %>)">
          <div class="page-header text-center fade-in-up">
            <span class="h2" id="subtitle" title="<%- subtitle %>">
              <% if(!theme.fun_features.typing.enable) { %>
              <%- subtitle %>
              <% } %>
            </span>

            <% if(is_post() && page.meta !== false) { %>
            <%- partial('_partial/post-meta') %>
            <% } %>
          </div>

          <% if (theme.scroll_down_arrow.enable && theme.scroll_down_arrow.banner_height_limit <= banner_img_height && page.layout !== '404') { %>
          <div class="scroll-down-bar">
            <i class="iconfont icon-arrowdown"></i>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </header>

  <main>
    <% if(is_post() || page.layout === '404') { %>
    <%- body %>
    <% } else { %>
    <div class="container nopadding-x-md">
      <div class="py-5" id="board"
        <%- banner_img_height >= 100 && theme.banner && theme.banner.parallax ? 'style=margin-top:0' : '' %>>
        <% if(page.layout === 'about') { %>
        <div class="about-avatar">
          <img src="<%- url_for(theme.about.avatar) %>" class="img-fluid" alt="avatar">
        </div>
        <% } %>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 m-auto">
              <%- body %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <% if (theme.scroll_top_arrow.enable) { %>
    <a id="scroll-top-button" href="#" role="button">
      <i class="iconfont icon-arrowup" aria-hidden="true"></i>
    </a>
    <% } %>

    <% if (theme.search.enable) { %>
    <%- partial('_partial/search') %>
    <% } %>

    <% if (theme.custom_html) { %>
    <div class="col-lg-7 mx-auto nopadding-x-md">
      <div class="container custom mx-auto">
        <%- theme.custom_html %>
      </div>
    </div>
    <% } %>
    <div id="aplayer"></div>
  </main>

  <%- partial('_partial/footer', { params: { subtitle: subtitle } }) %>

</body>
<script>
  const ap = new APlayer({
  container: document.getElementById('aplayer'),
  fixed: true,
  autoplay: false,
  loop: 'all',
  order: 'random',
  preload: 'auto',
  theme: '#8B275F',
  mutex: true,
  volume: '0.65',
  audio: [
    /*
    {
      name: 'Air',
      artist: '纯音乐',
      url: 'https://clearlight.top/resources/music/piano/leisure.mp3',
      cover: 'https://p3.music.126.net/_BqzzgcXVksCJkL4-sIxcw==/2892815093153065.jpg?param=300y300',
    },
    {
      name: '2---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/2.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '3---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/3.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '4---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/4.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '5---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/5.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '6---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/6.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '7---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/7.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '8---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/8.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '9---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/9.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '10---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/10.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '11---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/11.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '12---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/12.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '13---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/13.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '14---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/14.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '15---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/15.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '16---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/16.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '17---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/17.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '18---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/18.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '19---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/19.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '19---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/1.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '20---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/20.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '21---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/21.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '22---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/22.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '23---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/23.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '24---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/24.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '25---------------------',
      artist: '--------------------------------------------------------------',
      url: 'https://clearlight.top/resources/music/piano/25.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pI7En.png',
    },
    {
      name: '邱有句',
      artist: '夏天的秘密',
      url: 'http://fdfs.xmcdn.com/group20/M07/24/44/wKgJLFs2-_OCFQYuABlJQt4DYWc894.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg',
    } */
    /* b哥 */
    {
      name: '李志',
      artist: '热河',
      url: 'http://clearlight.top/resources/music/popular/p1.flac',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg',
    },
    {
      name: '李志',
      artist: '关于郑州的记忆',
      url: 'http://clearlight.top/resources/music/popular/p5.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '五月天',
      artist: '后来的我们',
      url: 'http://clearlight.top/resources/music/popular/p6.flac',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '李志',
      artist: '人民不需要自由(专辑)',
      url: 'http://clearlight.top/resources/music/popular/p7.flac',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '李志',
      artist: '人民不要自由(工体)',
      url: 'http://clearlight.top/resources/music/popular/p9.flac',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '李志',
      artist: '人民不需要自由(108关键词)',
      url: 'http://clearlight.top/resources/music/popular/p8.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '以冬',
      artist: '我的一个道姑朋友',
      url: 'http://clearlight.top/resources/music/popular/p10.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '周杰伦',
      artist: '七里香',
      url: 'http://clearlight.top/resources/music/popular/p13.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '周杰伦',
      artist: '听妈妈的话',
      url: 'http://clearlight.top/resources/music/popular/p14.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '周杰伦',
      artist: '告白气球',
      url: 'http://clearlight.top/resources/music/popular/p15.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '周杰伦',
      artist: '夜曲',
      url: 'http://clearlight.top/resources/music/popular/p16.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '周杰伦',
      artist: '彩虹',
      url: 'http://clearlight.top/resources/music/popular/p17.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '李志',
      artist: 'freenow',
      url: 'http://clearlight.top/resources/music/popular/p4.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: 'BEYOND',
      artist: '海阔天空',
      url: 'http://clearlight.top/resources/music/popular/p3.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '周杰伦',
      artist: '星晴',
      url: 'http://clearlight.top/resources/music/popular/p18.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '周杰伦',
      artist: '稻香',
      url: 'http://clearlight.top/resources/music/popular/p19.mo3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '周杰伦',
      artist: '花海',
      url: 'http://clearlight.top/resources/music/popular/p20.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '杨丞琳',
      artist: '年轮说',
      url: 'http://clearlight.top/resources/music/popular/p22',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '李志',
      artist: '广场',
      url: 'http://clearlight.top/resources/music/popular/p23.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '张震岳',
      artist: '小宇',
      url: 'http://clearlight.top/resources/music/popular/p24.flac',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '小贱',
      artist: '当我唱起这首歌',
      url: 'http://clearlight.top/resources/music/popular/p25.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '本兮',
      artist: '怎么办我想你',
      url: 'http://clearlight.top/resources/music/popular/p27.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '本兮',
      artist: '蓝色的海',
      url: 'http://clearlight.top/resources/music/popular/p28.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '李志,张怡然',
      artist: '山阴路的夏天',
      url: 'http://clearlight.top/resources/music/popular/p29.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '李志',
      artist: '你离开了南京,从此没有人和我说话',
      url: 'http://clearlight.top/resources/music/popular/p30.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '李志',
      artist: '忽然',
      url: 'http://clearlight.top/resources/music/popular/p32.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '李志',
      artist: '结婚',
      url: 'http://clearlight.top/resources/music/popular/p33.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '李源田',
      artist: '庸俗',
      url: 'http://clearlight.top/resources/music/popular/p34.flac',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '梁博',
      artist: '男孩',
      url: 'http://clearlight.top/resources/music/popular/p35.flac',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '李志',
      artist: '梵高先生',
      url: 'http://clearlight.top/resources/music/popular/p36.flac',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '沈丫',
      artist: '遇见',
      url: 'http://clearlight.top/resources/music/popular/p37.flac',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '焦迈奇',
      artist: '今天也想见到你',
      url: 'http://clearlight.top/resources/music/popular/p38.flac',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '胡歌',
      artist: '忘记时间',
      url: 'http://clearlight.top/resources/music/popular/p39.flac',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '焦迈奇',
      artist: '赧然的贼',
      url: 'http://clearlight.top/resources/music/popular/p41.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '赵海洋',
      artist: '秋的思念',
      url: 'http://clearlight.top/resources/music/popular/p42.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '李志',
      artist: '这个世界会好吗',
      url: 'http://clearlight.top/resources/music/popular/p43.flac',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '阿狸有九条尾巴',
      artist: '大鱼',
      url: 'http://clearlight.top/resources/music/popular/p45.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '陈一发',
      artist: '童话镇',
      url: 'http://clearlight.top/resources/music/popular/p46.flac',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '陶峻汐',
      artist: '和解',
      url: 'http://clearlight.top/resources/music/popular/p47.flac',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '陶峻汐',
      artist: '我想你了',
      url: 'http://clearlight.top/resources/music/popular/p49.flac',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    ,{
      name: '邱有句',
      artist: '别哭',
      url: 'http://clearlight.top/resources/music/popular/p44.mp3',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    /*
    ,{
      name: '',
      artist: '',
      url: 'http://clearlight.top/resources/music/popular/',
      cover: 'https://s2.ax1x.com/2020/03/09/8pTuyF.jpg'
    }
    */

  ]
});

</script>
</html>
